body{
  background-color: #ffd4e2;
  
}

svg{
  border-style: solid;
  border-width: 1px;
}

.axis {
  stroke:black; 
  stroke-width:5;
}

.canada_class {
  stroke:black; 
}
.canada_class:hover {
  stroke:#ff367f;
  fill:#ff367f;
}

.mexico_class {
  stroke:black; 

}
.mexico_class:hover {
  stroke:#ff367f;
  fill:#ff367f;
}

.usa_class {
  stroke:black; 

}
.usa_class:hover {
  stroke:#ff367f;
  fill:#ff367f;
}

.line {
  stroke-width:2;
}

.label {
  font-weight: bold;
}


#axis_title {
  font-size: 20px;
}

.Canada {
  fill: "rgb{{canada_color}}"; 
}

.Mexico {
  fill: "rgb{{mexico_color}}"; 
}

.US {
  fill: "rgb{{usa_color}}"; 
}


